div {
	font-family: 'Oswald', sans-serif;
}

#top {
	background-color: #5b9aff;
	margin: -0.5em;
	padding: 3em;
	border: #ffff6d dashed 0.3em;
}

#title {
	display: flex;
	align-items: center;
	padding-left: 45%;
}
#middle {
	margin: 3em;
}
h1 {
	color: #4c4c4c;
	text-align: center;
}

.registerArea {
	margin: 1em;
	padding-left: 33%;
}

#nameTf {
	padding-right: 16em;
}

#emailTf, #passwordTf, #confirmpasswordTf {
	padding-right: 7em;
}

#interestsTa {
	padding-right: 13.5em;	
}

#submitBtn {
	margin-left: 11em;
	color: #4c4c4c;

}

#termsTxt {
	color: #bbc3ce; 
	font-family: sans-serif; 
	font-size: 0.8em;
}

#bottom {
	padding-left: 42%;	
}
.socialmediaIcon {
	width: 5%;
}
